ul{
    list-style-type: none;
}
#sidebar{
    width: 15%;
    height: 100vh;
    background-color: #1A2942;
}
.CustomSidebarButtons{
    width: 100%;
    padding: 1rem;
    text-align: start;
    border-radius: 0;
    font-weight: 500;
}
.CustomSidebarButtons:hover{
    background-color: #263b5f;
}
.sidebarHeaderbutton{
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0;
    font-weight: 500;
}
nav{
    width: 85vw;
}
.navbarStart{

}

.navbarEnd{
    margin: 1rem;
    width: 3rem;    
}